# Passwords of workers
workers = {
    'your.slave.hostname':  '...'
}

# Codecov.io tokens (optional)
codecov = {
    'Package':             '...',
    'AnotherPackage':      '...'
}

# Github paswords
github = {
    # incoming webhook secret
    'webhook':              '...',
    # oath client
    'client_id':            '...',
    'client_secret':        '...',
    # API token
    'token':                '...',
}
