# -*- python -*-
# ex: set syntax=python:

import sys, os
sys.path.append(os.path.join(os.path.dirname(os.path.realpath(__file__)), os.pardir, "common"))

import passwords

# This is the dictionary that the buildmaster pays attention to. We also use
# a shorter alias to save typing.
c = BuildmasterConfig = {}



####### BUILDSLAVES

# The 'slaves' list defines the set of recognized buildslaves. Each element is
# a BuildSlave object, specifying a unique slave name and password.  The same
# slave name and password must be configured on the slave.
from buildbot.buildslave import BuildSlave
c['slaves'] = [
    BuildSlave('hydor.elis.ugent.be', passwords.buildslaves['hydor.elis.ugent.be'])
]

# 'protocols' contains information about protocols which master will use for
# communicating with slaves.
# You must define at least 'port' option that slaves could connect to your master
# with this protocol.
# 'port' must match the value configured into the buildslaves (with their
# --master option)
c['protocols'] = {'pb': {'port': 9987}}

configurations = {
    'x86-64': 'hydor.elis.ugent.be'
}



####### REPOSITORIES

## repository database with URLs and default branches

repositories = {
    'Julia':        r'https://github.com/JuliaLang/julia',
    'LLVM':         r'https://github.com/maleadt/LLVM.jl',
    'CUDAdrv':      r'https://github.com/JuliaGPU/CUDAdrv.jl',
    'CUDAnative':   r'https://github.com/JuliaGPU/CUDAnative.jl',
}



####### CHANGESOURCES

# the 'change_source' setting tells the buildmaster how it should find out
# about source code changes.

from buildbot.changes.gitpoller import GitPoller
import re

c['change_source'] = [
    GitPoller(repositories['Julia'],      branches=True, pollInterval=5*60),
    GitPoller(repositories['LLVM'],       branches=True, pollInterval=5*60),
    GitPoller(repositories['CUDAdrv'],    branches=True, pollInterval=5*60),
    GitPoller(repositories['CUDAnative'], branches=True, pollInterval=5*60)
]



####### SCHEDULERS

# Configure the Schedulers, which decide how to react to incoming changes.

from buildbot.changes import filter

c['schedulers'] = []




####### BUILD FACTORIES

from buildbot.process.factory import BuildFactory
from buildbot.process.properties import Interpolate
from buildbot.steps.source.git import Git
from buildbot.steps.shell import ShellCommand, SetPropertyFromCommand
from buildbot.steps.slave import RemoveDirectory
from buildbot.steps.master import MasterShellCommand
from buildbot.steps.transfer import FileUpload
from generic import FileCreate
import generic

# TODO: encode slave's `/mnt/storage/buildslave` in its `buildbot.tac`?

# Steps to build and deploy Julia
def build_julia(version, llvm=None, debug=False, cores=16):
    f = BuildFactory()


    ## build

    # environment variables
    julia_env = {
        "VERBOSE":          "1",
        "CCACHE_CPP2":      "yes",
        "JULIA_CPU_CORES":  str(cores)
    }

    # Make.user
    julia_config = {
        "USECLANG":         "1",
        "CC":               "/usr/local/lib/ccache/bin/clang",
        "CXX":              "/usr/local/lib/ccache/bin/clang++",

        "LLVM_ASSERTIONS":  "1"
    }
    if llvm != None:
        julia_config["LLVM_VER"] = llvm

    f.addSteps([
        Git(
            name="checkout",
            repourl=repositories["Julia"],
            mode='incremental',
            workdir="julia"),
        SetPropertyFromCommand(
            name="get commit name",
            command="contrib/commit-name.sh",
            property="commit_name",
            workdir="julia"),

        ShellCommand(
            name="clean dependencies",
            command=["find", "deps/srccache", "-mindepth", "1", "-maxdepth", "1",
                                              "-not", "-name", "*.tar.*",
                             "-print", "-exec", "rm", "-rf", "{}", "+"],
            workdir="julia",
            flunkOnFailure=False),

        RemoveDirectory(
            name="clean Julia",
            dir="julia/build"),
        ShellCommand(
            name="prepare Julia",
            command=["make", "O=build", "configure"],
            env=julia_env,
            workdir="julia",
            haltOnFailure=True),
        FileCreate(
            name="configure Julia",
            data=generic.strMakeUser(julia_config),
            slavedest="Make.user",
            workdir="julia/build",
            haltOnFailure=True),
        ShellCommand(
            name="compile Julia",
            command=["make", "-j", str(cores)],
            env=julia_env,
            workdir="julia/build",
            haltOnFailure = True),
        ShellCommand(
            name="test Julia",
            command=["make", "testall"],
            env=julia_env,
            workdir="julia/build",
            haltOnFailure = True)
    ])


    ## package

    f.addSteps([
        ShellCommand(
            name="prepare packaging",
            command=["mkdir", "-p", Interpolate("julia/" + version)],
            workdir="/mnt/storage/buildslave"),
        ShellCommand(
            name="package Julia",
            command=["tar", "--create", "--verbose", "--file",
                     Interpolate("/mnt/storage/buildslave/julia/" + version + "/julia-%(prop:commit_name)s.tar"),
                     "usr"],
            workdir="julia/build"),
        ShellCommand(
            name="publish",
            command=["ln", "--symbolic", "--force",
                     Interpolate("julia-%(prop:commit_name)s.tar"), "latest.tar"],
            workdir=Interpolate("/mnt/storage/buildslave/julia/" + version))
    ])

    return f

# Steps to build and test a package
def build_package(package, julia_version, extra_env={}):
    f = BuildFactory()

    # TODO: these builders can start with a clean slate,
    #       can we do so instead of manually removing old dirs?


    ## julia

    f.addSteps([
        RemoveDirectory(
            name="remove Julia",
            dir="julia"),
        ShellCommand(
            name="prepare deployment",
            command=["mkdir", "julia"],
            workdir="."),
        ShellCommand(
            name="deploy Julia %s"%julia_version,
            command=["tar", "--extract", "--verbose", "--file",
                     Interpolate("/mnt/storage/buildslave/julia/"+julia_version+"/latest.tar")],
            workdir="julia",
            haltOnFailure = True)
    ])


    ## package

    package_env = generic.merge(
        {"JULIA_PKGDIR":    Interpolate("%(prop:builddir)s/packages")},
        extra_env
    )

    f.addSteps([
        RemoveDirectory(
            name="remove packages",
            dir="packages"),
        ShellCommand(
            name="initialize package manager",
            command=["usr/bin/julia", "--eval", 'Pkg.init()'],
            env=package_env,
            workdir="julia"),
        SetPropertyFromCommand(
            name="get package directory",
            command=["usr/bin/julia", "--eval", "println(Pkg.dir())"],
            property='pkgdir',
            env=package_env,
            workdir="julia"),
        Git(
            name="checkout",
            repourl=repositories[package],
            workdir=Interpolate("%(prop:pkgdir)s/" + package),
            haltOnFailure=True),
        ShellCommand(
            name="resolve",
            command=["usr/bin/julia", "--eval", 'Pkg.resolve()'],
            env=package_env,
            workdir="julia"),
        ShellCommand(
            name="build",
            command=["usr/bin/julia", "--eval", 'Pkg.build("%s")'%package],
            env=package_env,
            workdir="julia"),
        ShellCommand(
            name="test",
            command=["usr/bin/julia", "--eval", 'Pkg.test("%s", coverage=true)'%package],
            env=package_env,
            workdir="julia")
    ])


    ## coverage

    f.addSteps([
        ShellCommand(
            name="install Coverage.jl",
            command=["usr/bin/julia", "--eval", 'Pkg.add("Coverage")'],
            env=package_env,
            workdir="julia",
            haltOnFailure=True,
            flunkOnFailure=False),
        ShellCommand(
            name="submit coverage",
            command=["usr/bin/julia", "--eval",
                     'cd(Pkg.dir("%s")); using Coverage; Codecov.submit_local(process_folder())'%package],
            env=generic.merge({ "CODECOV_TOKEN": passwords.codecov[package] },
                              package_env),
            workdir="julia",
            flunkOnFailure=False)
    ])


    return f



####### BUILD CONFIGURATIONS & SCHEDULERS

c['builders'] = []

from buildbot.config import BuilderConfig
from buildbot.schedulers.basic import SingleBranchScheduler, AnyBranchScheduler
from buildbot.schedulers.forcesched import ForceScheduler, FixedParameter

# manage builds of Julia
julia_versions = {
    'master': 'master',
    '0.5':    'release-0.5'
}
for version, branch in julia_versions.iteritems():
    # instantiate build configurations
    julia_builders = []
    for arch, slave in configurations.iteritems():
        name = "Julia %s (%s)"%(version, arch)
        c['builders'].append(
            BuilderConfig(
                name=name,
                category="Julia",
                slavenames=[slave],
                factory=build_julia(version)
            )
        )
        julia_builders.append(name)

    # set-up schedulers starting these build configurations
    c['schedulers'].extend([
        SingleBranchScheduler(
            name="julia-%s"%version,
            change_filter = filter.ChangeFilter(branch = branch),
            builderNames = julia_builders),
        ForceScheduler(
            name = "Build Julia %s"%version,
            builderNames = julia_builders,
            # configurable settings: revision
            # disabled settings (specific value)
            branch = FixedParameter(name="branch", default=branch),
            # disabled settings (default value)
            reason = FixedParameter(name="reason", default=""),
            repository = FixedParameter(name="repository", default=""),
            project = FixedParameter(name="project", default=""),
            properties = [])
    ])

def schedule_package(package, julia_versions=["0.5"], build_environments={'': {}}, github=None):
    """Create build configuration and schedule builds for a Julia package.

    Arguments:
    package -- name of the package (see `repositories`)
    julia_versions -- list of Julia versions to build against (see `julia_versions`)
    build_environments -- dict of build environments, `name: {env vars...}`
    """

    # provide GitHub repo details as build properties
    properties = {}
    if github != None:
        owner, name = github.split('/')
        properties["github_repo_owner"] = owner
        properties["github_repo_name"] = name

    # instantiate build configurations
    package_builders = []
    for julia_version in julia_versions:
        for arch, slave in configurations.iteritems():
            for build, env in build_environments.iteritems():
                if build == '':
                    name = "%s.jl on Julia %s (%s)"%(package, julia_version, arch)
                else:
                    name = "%s.jl (%s) on Julia %s (%s)"%(package, build, julia_version, arch)
                c['builders'].append(
                    BuilderConfig(
                        name=name,
                        category=package,
                        slavenames=[slave],
                        factory=build_package(package, julia_version, env),
                        properties=properties
                    )
                )
                package_builders.append(name)

    # set-up schedulers starting these build configurations
    c['schedulers'].extend([
        AnyBranchScheduler(
            name="%s.jl"%package,
            builderNames = package_builders,
            change_filter = filter.ChangeFilter(repository = repositories[package]),
        ),
        ForceScheduler(
            name = "Build %s.jl"%package,
            builderNames = package_builders,
            # configurable settings: branch, revision
            # disabled settings (default value)
            reason = FixedParameter(name="reason", default=""),
            repository = FixedParameter(name="repository", default=""),
            project = FixedParameter(name="project", default=""),
            properties = [])
    ])

# manage builds of LLVM.jl
# TODO: build against version of Julia with different LLVMs
schedule_package("LLVM", ["0.5", "master"], {
    '':         {},
    'debug':    { 'DEBUG': "1" },
    'trace':    { 'TRACE': "1" }
}, "maleadt/LLVM.jl")

# manage builds of CUDAdrv.jl
schedule_package("CUDAdrv", ["0.5", "master"], {
    '':         {},
    'debug':    { 'DEBUG': "1" },
    'trace':    { 'TRACE': "1" }
})



####### STATUS TARGETS

# 'status' is a list of Status Targets. The results of each build will be
# pushed to these targets. buildbot/status/*.py has a variety to choose from,
# including web pages, email senders, and IRC bots.

c['status'] = []

from buildbot.status import html
from buildbot.status.web import authz, auth

authz_cfg = authz.Authz(
    useHttpHeader = True,
    httpLoginUrl = '/buildbot/login',
    auth = auth.HTPasswdAprAuth('/etc/apache2/users.conf'),

    # Totally disabled
    gracefulShutdown = False,
    pingBuilder = False,

    # Only for authenticated users
    forceBuild = 'auth',
    forceAllBuilds = 'auth',
    stopBuild = 'auth',
    stopAllBuilds = 'auth',
    cancelPendingBuild = 'auth',
    pauseSlave = 'auth',
)
c['status'].append(html.WebStatus(
        http_port="tcp:8013:interface=127.0.0.1",
        authz=authz_cfg,
        change_hook_dialects={
            'github': {
                'secret': passwords.github['webhook'],
                'strict': True
            }
        }
    )
)

from github_status import GitHubStatus  # NOTE: hacked GitHubStatus with context support
c['status'].append(GitHubStatus(
    token = passwords.github['token'],
    repoOwner = Interpolate("%(prop:github_repo_owner)s"),
    repoName = Interpolate("%(prop:github_repo_name)s"),
    sha = Interpolate("%(src::revision)s"),
    startDescription = 'Build in progress.',
    endDescription = 'Build has finished.')
)

import slack
slack_notifier = slack.SlackStatusPush(passwords.slackhook,
                                       False, "buildbot", "https://a.fsdn.com/allura/p/buildbot/icon")
# c['status'].append(slack_notifier)



####### PROJECT IDENTITY

# the 'title' string will appear at the top of this buildbot
# installation's html.WebStatus home page (linked to the
# 'titleURL') and is embedded in the title of the waterfall HTML page.

c['title'] = "Julia"
c['titleURL'] = "http://julialang.org/"

# the 'buildbotURL' string should point to the location where the buildbot's
# internal web server (usually the html.WebStatus page) is visible. This
# typically uses the port number set in the Waterfall 'status' entry, but
# with an externally-visible host name which the buildbot cannot figure out
# without some help.

c['buildbotURL'] = "http://ci.maleadt.net/buildbot/julia/"



####### DB URL

c['db'] = {
    # This specifies what database buildbot uses to store its state.  You can leave
    # this at its default for all but the largest installations.
    'db_url' : "sqlite:///state.sqlite",
}
