# Passwords of buildslaves
buildslaves = {
    'your.slave.hostname':  '...'
}

# Codecov.io tokens (optional)
codecov = {
    'Package':             '...',
    'AnotherPackage':      '...'
}

# Github paswords
github = {
    # incoming webhook secret
    'webhook':              '...',
    # token for integrations
    'token':                '...'
}

# Slack token for status messages (None to disable)
slackhook = '...'
